@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1> We are still forming a strong privacy policy, once it is drafted we will follow it and publish it </h1>

<h2> Keep checking this place regularly </h2>